@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="card-panel light-green white-text" >
        <h1 class="center">Welcome to Manansssta</h1>
        <p class="flow-text center">Please login</p>
        <p>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "waves-effect waves-light btn-large center" })</p>
    </div>
</div>