@font-face {
    font-family: froggyFont;
    src: url('../Fonts/gutesWshlechtesw/gutesWschlechtesW.ttf');
}

body {
    padding-bottom: 20px;
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

article.card-panel {
    position: relative;
    width: 360px;
    margin: 20px;
    padding: 20px;
    transition: box-shadow 300ms;
}

section.large {
    padding-top: 50px;
    height: 400px;
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
    }

    article.card-panel {
        width: 100% !important;
        margin: 20px 0;
    }
}

.content {
    margin: 0 auto;
}


.froggy-text {
    font-family: froggyFont;
}

.froggy-background{
    background-image: url('/Images/frog logo background.png');
    background-repeat: repeat;
}
